@import "../../styles/_Styles";
@import "../../styles/_Responsives";

.collapse {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 65%;
  @include mobile {
    margin: 15px auto;
    width: 100%;
  }
  &__header {
    align-items: center;
    background-color: $main-color;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    width: 100%;
    @include mobile {
      border-radius: 5px;
      padding: 4px 6px 4px 6px;
    }
    & h2 {
      font-size: 24px;
      @include mobile {
        font-size: 13px;
      }
    }
    &-button {
      background-color: $main-color;
      border: none;
      @include mobile {
        height: 32px;
        width: 32px;
        img {
          height: 18px;
          width: 20px;
        }
      }
    }
  }
  &__content {
    background-color: $second-color;
    border-radius: 0 0 10px 10px;
    color: $black-color;
    font-size: 18px;
    margin-top: -40px;
    max-height: 0;
    overflow: hidden;
    padding: 20px;
    transition: max-height 0.6s ease-in-out, margin-top 0.5s ease-in-out;
    width: 100%;
    z-index: -1;
    @include mobile {
      font-size: 12px;
      line-height: 17px;
    }
    &.open {
      margin-top: -6px;
      max-height: 400px;
      transition: max-height 0.6s ease-in-out, margin-top 0.5s ease-in-out;
    }
  }
}
.collapse .arrow-up {
  transition: all 0.5s ease-in-out;
}
.collapse.open .arrow-up {
  transform: rotate(-180deg);
}
